@font-face {
  font-family: 'Playfair Display';
  src:
    url('../fonts/PlayfairDisplay.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display';
  color: var(--main-color);
  font-size: 16px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 93px;
}
